* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url("../images/marvel3.jpg");
    background-position: center;
    background-size: cover;
}

.background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
}

.main-menu-btn {
    width: 200px;
    margin: 10px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 18px;
    font-weight: bold;
}

.main-menu-btn:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.main-menu-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.main-menu-btn.first-bg  > img ,.main-menu-btn.second-bg  > img,.main-menu-btn.third-bg  > img{
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.restart-style {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.restart-style, .button__icon, .button__text {
  transition: all 0.3s;
}

.restart-style .button__text {
  transform: translateX(30px);
  color: var(--font-color);
  font-weight: 600;
}

.restart-style .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-style .svg {
  width: 20px;
  fill: var(--main-color);
}

.restart-style:hover {
  background: var(--bg-color);
}

.restart-style:hover .button__text {
  color: transparent;
}

.restart-style:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.restart-style:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.nav-bar {
    display: flex;
}

.back-to-menu, .back-to-level, .moves-display, .timer-display {
    width: auto;
}

.game-completion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 2000;
    min-width: 300px;
}

table {
    color: #fff;
}

tr {
    padding: 10px 0;
    display: flex;
    border-top: 1px solid #fff;
}

tr:first-child {
    border-top: 0
}

th, td {
    width: 100px;
    text-align: center;
    font-size: 20px;
}

/* background styles */
.main-menu-btn.first-bg  > img ,.main-menu-btn.second-bg  > img,.main-menu-btn.third-bg  > img{
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.main-menu-btn.first-bg ,.main-menu-btn.second-bg ,.main-menu-btn.third-bg{
    height: 60px;
    padding: 0;
    background-color: transparent !important;
    position: relative;
    z-index: 999;
    color: white;
}


.main-menu-btn.first-bg::before ,.main-menu-btn.second-bg::before ,.main-menu-btn.third-bg::before { 
    background: transparent !important;
}
.main-menu-btn.first-bg::after , .main-menu-btn.second-bg::after , .main-menu-btn.third-bg::after  { 
    background-color: transparent !important;}
    /* السايد بار */





